body,
.signin {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
}

.from-register{
  padding-top: 50px;
}

.title {
  border-bottom: 2px solid #0b1a34;
}

h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

h2:first-child {
  padding-left: 0px;
}

.mk {
  float: right;
  margin-bottom: 25px;
}
.tk{
  float: center;
  margin-top: 20px;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #0a2d317d;
  margin: auto;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.signin {
  background-image: linear-gradient(to right, #A4BE7B, #75B175, #3AA377, #00937E, #008287, #007190);
  color: white;
  width: 60%;
  padding: 10px 20px;
  display: block;
  height: 40px;
  border-radius: 20px;
  /* margin-top: 20px; */
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  margin: auto;  
  margin-top: 35px;
}

.signin:hover {
    background-image: linear-gradient(to right, #A4BE7B, #75B175, #3AA377, #00937E, #008287, #007190);
    background-image: linear-gradient(to right, #A4BE7B, #75B175, #3AA377, #00937E, #008287, #007190);
    cursor: pointer;
}

.signin:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

a {
  text-align: center;
  display: block;
  /* top: 120px; */
  position: relative;
  text-decoration: none;
  color: rgb(89, 89, 89);  
}